.allow-ios-push-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  background: var(--border);
  color: var(--card-foreground);
  padding: 14px 10px;
}

.allow-ios-push-content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}

.allow-ios-push-content {
  font-size: 15px;
  font-weight: 500;
  color: var(--card-foreground);
}

.allow-ios-push-content-btn {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}
