.chat-container {
  display: flex;
  height: 100vh;
  width: -webkit-fill-available;
  background: var(--background);
}

.chat-sidebar {
  width: 300px;
  background: var(--secondary);
  border-right: 1px solid var(--border);
  padding: 12px;
}

.chat-search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--background);
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.chat-search input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.chat-search:focus-within {
  border-color: var(--primary);
}

.chat-section-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--muted-foreground);
  margin-bottom: 8px;
  cursor: pointer;
}

.chat-section-header .icon {
  border-radius: 2px;
  padding: 1px;
}
.chat-section-header .icon:hover {
  background: var(--muted-foreground);
  color: #fff;
}

.chat-list {
  margin: -8px 0px 10px;
}

.chat-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
}

.chat-item:hover {
  background: var(--primary-hover);
}

.chat-item.active {
  background: var(--primary-hover);
  color: var(--primary);
}

.chat-item-profile {
  height: 30px;
  width: 30px;
  border-radius: 8px;
}

.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gradian-background);
}

.chat-empty > img {
  height: 40vh;
  width: auto;
  object-fit: contain;
}

.chat-empty > h2 {
  font-size: clamp(24px, 2vw, 14px);
  color: var(--card-foreground);
  margin: 10px 0px 0px;
  font-weight: 600;
}

.chat-empty > p {
  font-size: clamp(16px, 2vw, 10px);
  color: var(--muted-foreground);
}

.chat-header {
  padding: 12px 16px;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.chat-message-row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 12px;
}

.chat-message-row.me {
  justify-content: flex-end;
}

.chat-message-row.other {
  justify-content: flex-start;
}

.chat-avatar {
  width: 34px;
  height: 34px;
}

.chat-bubble-wrapper {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.chat-username {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 3px;
  color: var(--primary);
  cursor: pointer;
}

.chat-bubble {
  position: relative;
  padding: 6px 10px 6px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  margin-top: 14px;
}

.chat-bubble.group {
  padding: 4px 10px 18px;
  margin-top: 0px;
}

.chat-message-row.other .chat-bubble {
  background: var(--muted);
  color: var(--foreground);
  border-top-left-radius: 6px;
}

.chat-message-row.other .chat-bubble::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 4px;
  width: 12px;
  height: 12px;
  background: var(--muted);
  border-bottom-right-radius: 10px;
  transform: rotate(70deg);
}

.chat-message-row.me .chat-bubble {
  background: var(--border);
  color: white;
  border-top-right-radius: 6px;
}

.chat-message-row.me .chat-bubble::before {
  content: "";
  position: absolute;
  right: -3px;
  top: 3px;
  width: 12px;
  height: 12px;
  background: var(--border);
  border-bottom-left-radius: 10px;
  transform: rotate(44deg);
}

.chat-text {
  padding-right: 40px;
}

.chat-time {
  font-size: 10px;
  opacity: 0.7;
}

.chat-time.group {
  position: absolute;
  bottom: 4px;
  right: 8px;
}

/* ============== User Hover Style ============== */
.portal-tooltip {
  background: var(--card);
  color: var(--card-foreground);
  border-radius: 10px;
  font-size: 13px;
  box-shadow: 0 8px 20px var(--shadow);
  animation: fadeIn 0.2s ease-in-out;
}

/* ============== User Hover Style End ============== */
.chat-input {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 12px;
  position: relative;
}

.scroll-bottom-btn {
  position: absolute;
  right: 20px;
  top: -40px;
  background: var(--card);
  border: 1px solid var(--border);
  color: var(--card-foreground);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 10px var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-bottom-btn:hover .icon {
  transform: translateY(2px);
}

.chat-topbar {
  height: 60px;
  min-height: 60px;
  padding: 0 16px;
  border-bottom: 1px solid var(--border);
  background: var(--secondary);
  display: flex;
  align-items: center;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.chat-topbar-avatar {
  width: 38px;
  height: 38px;
}

.chat-topbar svg {
  color: var(var(--muted-foreground));
}

.chat-topbar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-topbar h4 {
  font-size: 15px;
  font-weight: 600;
  color: var(var(--card-foreground));
  line-height: 1.2;
}

.chat-topbar-sub {
  font-size: 12px;
  color: var(--muted-foreground);
  margin-top: 2px;
}

/* .chat-topbar-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #22c55e;
  margin-left: 6px;
} */

/* ======================== Create Group ======================== */

.group-create-search {
  margin: 10px 0px;
}

.group-create-search input {
  font-size: 15px;
}

.group-create-container {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  max-height: 250px;
  overflow: auto;
}

.group-create-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.group-create-item:hover {
  background-color: #f3f4f6;
}

.group-create-item-active {
  background-color: #e5e7eb;
}

.group-create-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.group-create-avatar {
  width: 44px;
  height: 44px;
}

.group-create-user-info {
  display: flex;
  flex-direction: column;
}

.group-create-name {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.group-create-username {
  font-size: 14px;
  color: #6b7280;
}

.group-create-right {
  position: relative;
}

.group-create-checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #cbd5e1;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.group-create-checkbox:checked {
  border-color: #0f172a;
  background-color: #0f172a;
}

.group-create-checkmark {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  pointer-events: none;
}

.group-create-empty {
  text-align: center;
  color: #9ca3af;
  padding: 20px;
}
